.top{
    margin:0 auto;
    padding: 0;
    height: 52px;
    width: 1500;
}

#logo{
    height: 150px;
    width: 150px;
    position:absolute;
    z-index: 1;
    margin:0;
}

#background{
    height: auto;
    width: auto;
}

header{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding: 0;
}

nav{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

ul{
    margin-top: 0;
    margin-bottom: 0;
    display:table; 
    height: 50px;
    width: 1000px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 0;
}

ul li{
    display:table-cell;
    background-color: darkred;
}

ul li a{

    display: block;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    padding: 30px 0;
}

nav a:hover{
    display: block;
    background-image: url(Images/rings.png);
    background-color: black;
    background-position: right;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}


h2{
    color:darkred;
}




.div1{
    width:1000px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 40px;
}

.div2{
    width:1000px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 50px;
}
.div3{
  
    width:46%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-end;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 50px;  
    
}


.text{
    display: block;
    height: auto;
    width: 490px;
 
}

#continue{
    color: darkred;
    font-weight: bolder;
    text-decoration:none ;
}
 #footer {
    margin: 0 auto;
   
    width: 100%;
} 